.desingItemCardParentCon {
    position: relative;
}

.desingItemCardParentCon {
    height: 65vh;
}

.storeName {
    font-size: 15px;
}

.link {
    all: unset;
}

.link:hover {
    all: unset;
    cursor: pointer;
}

.productHeading {
    color: #171f46;
}

.productImage {
    height: 25vh;
}